<nav id= "navbar" class="navbar navbar-expand-lg bg-light py-3 py-lg-4 ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> 
            <img src ="../../assets/logo.png" alt="Bootstrap" width="110%"/>
        </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-auto nav-fill w-50">
              <li class="nav-item">
                <a class="nav-link" role="button" href="#scrollspyHeading1">Home</a>
              <li class="nav-item">
                  <a class="nav-link" role="button" href="#scrollspyHeading2">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" role="button" href="#scrollspyHeading3">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" role="button" href="#">Q&A</a>
              </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-target="#navbar" aria-label="Toggle navigation" aria-controls="navbarSupportedContent"  aria-haspopup="true"ms-auto>
                <mat-icon aria-hidden = "false" fontIcon = "account_circle">                             
                </mat-icon> Login/Register
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#login-page.component.html"  routerLink="/LoginPage" routerLinkActive="active">Login</a></li>
              <li><a class="dropdown-item" href="#">Register</a></li>
            </ul>
        </div>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>